# https://pnpm.io/zh/npmrc#link-workspace-packages
link-workspace-packages=deep

# 设置成官方源 为了实现npm包的登录
# 关闭 在需要登录时才考虑打开。
# registry=https://registry.npmjs.org/

# https://blog.csdn.net/qq_41499782/article/details/128723054
public-hoist-pattern[]=*vue*

# https://juejin.cn/post/7215608036394827836
ignore-workspace-root-check = true