# https://pnpm.io/zh/npmrc#link-workspace-packages
link-workspace-packages=deep

# 设置成官方源 为了实现npm包的登录
# 关闭 在需要登录时才考虑打开。
# registry=https://registry.npmjs.org/

# https://blog.csdn.net/qq_41499782/article/details/128723054
public-hoist-pattern[]=*vue*

# https://juejin.cn/post/7215608036394827836
ignore-workspace-root-check = true

# 依赖提升
# https://pnpm.io/zh/npmrc#shamefully-hoist
shamefully-hoist=true

# 关闭严格的对等依赖
# https://pnpm.io/zh/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

# 默认 淘宝镜像
registry=https://registry.npmmirror.com/

# 阮喵喵的库一律从官方镜像获取
@ruan-cat:registry=https://registry.npmjs.org/